@page "/sample"
@inject IJSRuntime JS

<h1>Sample</h1>

<button class="btn btn-primary" @onclick="hello">say hello!</button>

@code {
    async Task hello()
    {

        //戻り値がある処理の呼び出し
        string res = await JS.InvokeAsync<string>("ask", "何か書いて。");
        //戻り値がない処理の呼び出し
        await JS.InvokeVoidAsync("say", $"あなたは、「{res}」と書いた。");
    }
}
